<div class="modal fade" id="modal-pr-ptr">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="fs-3 text-center w-100 fw-light text-secondary mt-3">PERHATIAN !</div>
         <div class="modal-body d-block">
            <input class="d-none" type="input" id="modal-same-batch-for" />
            <div class="fs-6 text-center w-100 fw-lighter text-secondary mt-4" id="pr-ptr">aNDA AKAN</div>
            <div class="d-flex justify-content-center flex-column col-12 mt-5">
               <div class="col-6 my-1">
                  <button id="pr-ptr-btn-1" type="button" class="btn btn-secondary col-12">OK</button>
               </div>
               <div class="col-6 my-1">
                  <button id="pr-ptr-btn-2" type="button" class="btn btn-secondary col-12">OK</button>
               </div>
               <div class="col-6 my-1">
                  <button id="pr-ptr-btn-3" type="button" class="btn btn-secondary col-12">OK</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
