<div class="d-flex flex-column flex-wrap align-items-start" id="home-container"></div>
<button type="button" onclick="showNewSteam()" class="d-none btn btn-outline-secondary col-12 text-center mx-1 my-3 btn-sm" id="btn-new-steam">Tambah Steambox</button>

<!--mesin aktif (horizontal)-->
<div class="flex-row align-self-start align-items-stretch bg-light my-2 mx-1 col-12 shadow d-none" id="mesin-hor-tab">
    <div class="d-flex flex-column bg-dark">
        <div class="d-flex text-white fs-1 h-100 align-items-center fw-bold px-2">
            <div class="w-100 text-center" style="font-size: 5vw">2</div>
        </div>
    </div>
    <div class="d-flex flex-row bg-secondary w-100">
        <div class="d-flex flex-column border-end border-dark border-2">
            <div class="text-white fs-6 fw-light mx-2 position-absolute">Status :</div>
            <div class="d-flex flex-column h-100">
                <div class="d-flex text-white fs-5 h-75 align-items-center fw-bold px-2">Cooking</div>
                <div class="d-flex flex-row text-white fs-5 h-25 fw-bold px-1 w-100">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi h-100 bi-thermometer-half" viewBox="0 0 16 16">
                        <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z" />
                        <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z" />
                    </svg>
                    <div class="d-flex align-items-center h-100 px-1">100</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column border-end border-dark border-2">
            <div class="text-white fs-6 fw-light mx-2 position-absolute">Resep :</div>
            <div class="d-flex text-white fs-5 h-100 align-items-center fw-bold px-2">Heatingssddsssssssssss</div>
        </div>
        <div class="d-flex flex-column border-end border-dark border-2 col-3">
            <div class="text-white fs-6 fw-light mx-2 position-absolute">Items :</div>
            <div class="d-flex flex-column h-100 align-items-center px-2 my-3">
                <div class="flex-column d-flex" id="mesin-mli-hor-ctn">
                    <div class="txt-cap w-100 text-center">Item 1:</div>
                    <div class="w-100 text-white text-center fw-bold">WAITIsdddddNG</div>
                </div>
            </div>
        </div>
        <div class="h-100 d-flex flex-column col-2 border-end border-dark border-2">
            <div class="d-flex flex-column border-bottom border-dark border-2">
                <div class="text-white fs-6 fw-light mx-2">Steam :</div>
                <div class="d-none text-white fs-5 h-100 align-items-center fw-bold px-2 mb-2">ON</div>
                <div class="d-flex flex-column ms-2">
                    <div class="d-flex flex-row border-bottom border-secondary">
                        <div class="fw-5 p-1 col-2 text-center bg-dark text-white fs-5">1</div>
                        <div>OFF</div>
                    </div>
                    <div class="d-flex flex-row border-bottom border-secondary">
                        <div class="fw-5 p-1 col-2 text-center bg-dark text-white fs-5">2</div>
                        <div>ON</div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="text-white fs-6 fw-light mx-2">Communication :</div>
                <div class="d-none text-white fs-5 h-100 align-items-center fw-bold px-2 mb-2">LIVE</div>
                <div class="ms-2">
                    <div>DISCONNECT</div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column w-100 ps-2 pe-2">
            <div class="text-white fs-6 fw-light">Catatan Waktu :</div>
            <div class="d-flex flex-row col-12 mt-1 border-bottom border-white">
                <div class="col-7 p-2 fw-bold text-center text-white">Aktivitas</div>
                <div class="col-5 p-2 fw-bold text-center text-white">Waktu</div>
            </div>
            <div></div>
        </div>
    </div>
</div>

<!-- Modal stop-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="col-12 text-end">
                <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="fs-5 text-center w-100 fw-lighter text-secondary my-0">Steambox 1</div>
            <div class="modal-body d-block">
                <div class="d-flex justify-content-center flex-column col-12">
                    <div class="col-12 my-2">
                        <button type="button" class="btn btn-secondary col-12">STOP</button>
                    </div>
                    <div class="col-12">
                        <button type="button" class="btn btn-secondary col-12">TAMBAH WAKTU</button>
                    </div>
                </div>
            </div>
            <div class="modal-body d-none">
                <div class="col-12 text-center mb-3">Apakah anda yakin menghentikan operasi pada mesin 1 ?</div>
                <div class="d-flex justify-content-center flex-row col-12">
                    <div class="col-6 me-1">
                        <button type="button" class="btn btn-secondary col-12">STOP</button>
                    </div>
                </div>
            </div>
            <div class="modal-body my-2 d-none">
                <form class="needs-validation" novalidate>
                    <div class="fw-lighter text-secondary" style="font-size: 12px">Tambahan waktu :</div>
                    <div class="input-group mb-3">
                        <input type="number" min="0" class="form-control" placeholder="Contoh : 2" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">menit</span>
                        </div>
                        <div class="invalid-feedback">(Harus diisi dengan angka) Bila tidak ada waktu, tambahan isi dengan angka 0</div>
                    </div>
                    <button type="submit" class="btn btn-secondary col-12">TAMBAH WAKTU</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Item Catatan Waktu-->
<div class="d-flex flex-row border-bottom border-white" id="cw-item-ctn">
    <div class="col-7 text-center pt-1 pb-1 text-white">Mulai pemanasan</div>
    <div class="col-5 text-center pt-1 pb-1 text-white">Mulai pemanasan</div>
</div>

<!--Mesin List item (Horizontal)-->
<div class="flex-column d-none" id="mesin-mli-hor-ctn">
    <div class="txt-cap w-100 text-center">Item 1:</div>
    <div class="w-100 text-white text-center fw-bold">WAITING</div>
</div>

<!-- Modal New Steam-->
<div class="modal fade" id="modal-new-steam" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="col-12 text-end">
                <button type="button" class="btn-close m-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="fs-3 text-center w-100 fw-lighter text-secondary">Data Steambox Baru</div>

            <div class="modal-body d-block">
                <form class="needs-validation" autocomplete="off" id="form-ns" novalidate>
                    <div class="txt-cap">Nomor Steambox :</div>
                    <div class="input-group mb-1 has-validation">
                        <input type="number" id="ns-label-in" min="0" class="form-control" placeholder="Contoh : 2" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="invalid-feedback">Isi nomor steambox</div>
                    </div>

                    <div class="txt-cap">Address :</div>
                    <div class="input-group mb-1 has-validation">
                        <input type="input" id="ns-address-in" min="0" class="form-control" placeholder="Contoh : 02" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="invalid-feedback">Isi alamat steambox</div>
                    </div>
                </form>

                <div class="mt-1 text-danger" id="ns-txt-danger"></div>

                <button type="button" class="col-12 btn btn-dark mt-4 mb-2" onclick="validateNS()">SIMPAN</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Prompt Start QTY-->
<div class="modal fade" id="modalPSQ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="fs-3 text-center w-100 fw-lighter text-secondary mt-3">Data Steambox Baru</div>

            <div class="modal-body d-block">
                <div class="fs-6 text-center w-100 fw-lighter text-secondary mt-4">Anda akan memulai pekerjaan dengan jumlah gelondong kurang dari kapasitas troli ?</div>
                <div class="d-flex justify-content-center flex-row col-12 mt-5">
                    <div class="col-6 me-1">
                        <button type="button" class="btn btn-secondary col-12" onclick="hidePSQ()">ATUR ULANG</button>
                    </div>
                    <div class="col-6 ms-1">
                        <button id="btn-submit-psq" type="button" class="btn btn-dark col-12">LANJUTKAN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Prompt Batch same-->
<div class="modal fade" id="modal-same-batch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="fs-3 text-center w-100 fw-light text-secondary mt-3">PERHATIAN !</div>
            <div class="modal-body d-block">
                <input class="d-none" type="input" id="modal-same-batch-for" />
                <div class="fs-6 text-center w-100 fw-lighter text-secondary mt-4" id="modal-same-batch-txt">aNDA AKAN</div>
                <div class="d-flex justify-content-center flex-row col-12 mt-5">
                    <div class="col-6 me-1">
                        <button type="button" class="btn btn-secondary col-12" onclick="onBSCancel()">ATUR ULANG</button>
                    </div>
                    <div class="col-6 ms-1">
                        <button id="btn-submit-psq" type="button" class="btn btn-dark col-12" onclick="$('#modal-same-batch').modal('hide');">LANJUTKAN</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--detail barang-->
<div id="detail-barang" class="d-none">
    <div class="text-secondary mt-2 d-none" style="font-size: 12px" id="barang-no">Item-1</div>
    <div class="input-group mb-2 has-validation" id="warna-ctn">
        <label class="input-group-text" for="inputGroupSelect01">Warna</label>
        <input class="form-control" list="dataListColor" id="warna-val" placeholder="Ketik untuk mencari warna" required />
        <datalist id="dataListColor"> </datalist>
        <div class="invalid-feedback">Pilih warna</div>
    </div>
    <div class="input-group mb-1 has-validation" id="batch-ctn">
        <div class="input-group-prepend">
            <span class="input-group-text" id="batch-val">Batch No :</span>
        </div>
        <input type="number" min="1" class="form-control" id="batch-input-val" placeholder="Contoh : 10" aria-label="Username" aria-describedby="addon-wrapping" required />
        <div class="invalid-feedback">Isi nomer Lot/Batch</div>
    </div>

    <div class="input-group" id="jml-ctn">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Jumlah</span>
        </div>
        <input type="number" min="1" class="form-control" placeholder="Contoh : 2" aria-label="Username" aria-describedby="addon-wrapping" required />
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Gld</span>
        </div>
        <div class="invalid-feedback">Isi jumlah (angka) untuk item ini</div>
    </div>
    <button type="button" class="btn btn-outline-danger btn-sm col-12 mt-2 mb-3 text-center d-none" id="del-barang">Hapus item</button>
</div>
<!---->

<!--mesin idle-->
<div class="d-flex flex-column align-self-start bg-light rounded-3 my-2 mx-1 col-4 col-xl-4 col-xxl-3 p-3 shadow d-none" id="tab-mesin-idle">
    <div class="d-block" id="mesin-tab-idle">
        <input class="d-none" />
        <div class="fs-5 text-center w-100 fw-lighter text-secondary my-0">Steambox 1</div>
        <div class="mt-0 mb-3 text-center w-100" style="font-size: 12px">(id mesin : #0001)</div>
        <div class="h-50 d-flex align-items-center">
            <div class="display-1 text-center my-5 w-100 text-secondary my-0">STOP</div>
        </div>
        <button type="button" class="btn btn-dark my-1 w-100">TUGAS BARU</button>
    </div>
    <div class="d-none" id="mesin-tab-assign">
        <div class="fs-3 fw-lighter text-secondary my-0">Task Assign</div>
        <div class="fs-5 fw-lighter text-secondary mt-0 mb-3">
            <div>Mesin 2</div>
        </div>
        <form class="needs-validation" autocomplete="off" novalidate>
            <div class="my-2 mb-3">
                <div class="fw-lighter text-secondary" style="font-size: 12px">Nama Resep:</div>
                <div class="input-group">
                    <input class="form-control" list="dataListResep" placeholder="Ketik untuk mencari resep" required />
                    <datalist id="dataListResep"> </datalist>
                    <div class="invalid-feedback">Pilih resep</div>
                </div>
                <div class="text-danger fs-6 d-none">Nama resep tidak dikenali, silahkan buat resep baru di menu resep</div>
            </div>

            <div class="my-2 d-none">
                <div class="fw-lighter text-secondary" style="font-size: 12px">Pilih preset jumlah</div>
                <div class="input-group mb-3">
                    <select class="form-select" id="select-troli">
                        <option value="default" hidden>Pilih preset</option>
                        <option value="troli_satu">Troli Flip</option>
                        <option value="troli_dua">Troli Biasa</option>
                        <option value="troli_tiga">Troli Longgar</option>
                        <option value="troli_custom">Custom</option>
                    </select>
                    <div class="invalid-feedback">Pilih resep</div>
                </div>
                <div class="d-none">
                    <div class="fw-lighter text-secondary" style="font-size: 12px">Keterangan troli custom :</div>
                    <div class="input-group mb-3">
                        <select class="form-select" id="select-troli">
                            <option value="default" hidden>Pilih Keterangan</option>
                            <option value="ket_sisa">Sisa Batch</option>
                            <option value="ket_culikan">Culikan</option>
                            <option value="ket_trial">Trial Resep</option>
                        </select>
                        <div class="invalid-feedback">Pilih resep</div>
                    </div>
                </div>
            </div>

            <div class="my-2 d-none">
                <div class="fw-lighter text-secondary" style="font-size: 12px">Detail barang :</div>
                <div></div>
                <button type="button" class="btn btn-outline-primary btn-sm col-12 mt-2 text-center d-none">Tambah item</button>
                <div class="form-check form-check-inline mt-2 mb-3">
                    <input class="form-check-input" type="checkbox" id="item-chk-enough" value="option2" required />
                    <label class="form-check-label" for="inlineCheckbox2">Sudah tidak ada tambahan item</label>
                    <div class="invalid-feedback">Centang terlebih dahulu</div>
                </div>
            </div>

            <div class="my-2 d-none">
                <div class="fw-lighter text-secondary" style="font-size: 12px">PIC:</div>
                <div class="input-group has-validation">
                    <input type="text" id="pic-val" class="form-control" placeholder="Contoh : Abah Imron" aria-label="Username" aria-describedby="addon-wrapping" required disabled />
                    <div class="invalid-feedback">Isi nama PIC</div>
                </div>
            </div>
            <div class="my-2 d-none">
                <div class="fw-lighter text-secondary" style="font-size: 12px">Tambahan waktu (Opsional):</div>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" placeholder="Contoh : 2" aria-label="Username" aria-describedby="addon-wrapping" required />
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">menit</span>
                    </div>
                    <div class="invalid-feedback">(Harus diisi dengan angka) Bila tidak ada waktu, tambahan isi dengan angka 0</div>
                </div>
            </div>
            <div class="d-flex flex-row mt-4 mb-2">
                <button type="button" class="btn btn-dark col-6 d-none">TERAPKAN</button>
                <button type="button" class="btn btn-secondary mx-1 w-100 p-0">CANCEL</button>
            </div>
        </form>
    </div>
</div>
<!---->

<!--mesin aktif-->
<div class="d-flex flex-row align-self-start bg-light rounded-3 mx-1 my-2 col-4 col-xl-4 col-xxl-3 shadow d-none" id="mesin-tab">
    <div class="d-flex flex-column bg-light w-100 p-3" id="mesin-main-tab">
        <div class="fs-5 text-center w-100 fw-lighter text-secondary my-0">Steambox 1</div>
        <div>
            <div class="mt-0 text-center w-100" style="font-size: 12px" id="am">(id mesin : #0001)</div>
            <div class="mt-0 mb-3 text-danger text-center w-100" style="font-size: 12px">(id mes0001)</div>
        </div>

        <div class="txt-cap w-100 text-center">Current Temperature</div>
        <div class="w-100 text-center fw-bold mb-2">WAITING</div>

        <div class="txt-cap w-100 text-center">Current activity:</div>
        <div class="w-100 text-center fw-bold mb-2">WAITING</div>
        <div class="txt-cap w-100 text-center">Running on preset:</div>
        <div class="w-100 text-center mb-2 fw-bold" id="mesin-ro"></div>

        <div class="w-100 text-center my-2" id="mesin-mli">
            <div id="mesin-mli-ctn">
                <div class="txt-cap w-100 text-center">Item 1:</div>
                <div class="w-100 text-center fw-bold">WAITING</div>
            </div>
        </div>

        <div class="txt-cap w-100 text-center">Status Steambox:</div>
        <div class="w-100 text-center mb-2">
            <div class="d-flex flex-row justify-content-end w-100 mt-2">
                <div class="col-4">Output relay</div>
                <div>NC</div>
            </div>
            <div class="d-flex flex-row justify-content-end w-100 mt-2">
                <div class="col-4">Komunikasi</div>
                <div>LIVE</div>
            </div>
        </div>
        <div class="txt-cap w-100 text-center">Catatan Waktu:</div>
        <div class="my-1">
            <table class="table align-middle text-center" style="font-size: 12px">
                <thead>
                    <tr>
                        <th scope="col">Activity</th>
                        <th scope="col">Timestamp</th>
                        <th scope="col">Durasi</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<!---->

<script type="text/javascript" src="./js/home.js?n=3"></script>
<script type="text/javascript">
    function hidePSQ() {
        $("#modalPSQ").modal("hide");
    }
    function showNewSteam() {
        $("#modal-new-steam").modal("show");
    }
    function validateNS() {
        const form = document.getElementById("form-ns");
        const label_to_register = document.getElementById("ns-label-in").value;
        var isAlready = false;

        map_steam.forEach((element) => {
            const label = parseInt(element["label"]);

            if (label == parseInt(label_to_register)) {
                isAlready = true;
            }
        });

        if (form.checkValidity() && !isAlready) {
            const label = document.getElementById("ns-label-in").value;
            const address = document.getElementById("ns-address-in").value;

            $.ajax({
                type: "POST", //type of method
                url: "http://localhost/backend/postdm.php", //your page
                data: { action_id: 14, label: label, address: address }, // passing the values
                success: function (res) {
                    document.getElementById("a-home").click();
                    $("#modal-new-steam").modal("hide");
                },
                fail: function (res) {},
            });
        }

        if (isAlready) {
            document.getElementById("ns-txt-danger").innerHTML = "Steam dengan label " + label_to_register + " telah terdaftar";
        }

        form.classList.remove("needs-validation");
        form.classList.add("was-validated");
    }
</script>
<script type="text/javascript">
    applyPICName();
    getMesinData();

    function onBSCancel() {
        const id = document.getElementById("modal-same-batch-for").value;
        document.getElementById(id).children[1].children[1].value = "Batch Invalid";

        $("#modal-same-batch").modal("hide");
    }

    if (user_role.localeCompare("Operator") == 0 || user_role.localeCompare("Admin") == 0) {
        $("#btn-new-steam").hide();
    }
</script>
