<div id="log-ctn">
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Activity Log</h1>
   </div>
   <div class="input-group input-group-sm">
      <input type="text" class="form-control" onkeydown="searchLog()" placeholder="Cari log data dengan nama resep atau tanggal" id="log-search-input" />
      <button
         class="btn btn-outline-secondary"
         type="button"
         onclick="document.getElementById('filter-ctn').classList.add('d-flex');
        document.getElementById('filter-ctn').classList.remove('d-none');"
      >
         Filter
      </button>
      <button class="btn btn-outline-secondary" type="button" onclick="generateXLS()" id="log-export">Export</button>
   </div>

   <div class="justify-content-end col-12 d-none position-relative" id="filter-ctn">
      <div class="d-flex flex-column mt-2 col-4 border border-secondary p-3 position-absolute bg-white">
         <div class="d-flex flex-row align-items-center">
            <input class="form-check-input mt-2" onchange="onDateCheckedChange(this)" type="checkbox" value="" id="ddd" />
            <div class="txt-cap mx-2">Interval Tanggal :</div>
         </div>
         <input type="text" class="form-control col-4" id="daterange-in" name="daterange" disabled />
         <div class="d-flex flex-row align-items-center mt-2">
            <input class="form-check-input mt-2" onchange="onSteamCheckChange(this)" type="checkbox" value="" id="flexCheckDefault" />
            <div class="txt-cap mx-2">Steambox :</div>
         </div>
         <div class="d-flex flex-row justify-content-start flex-wrap" id="log-sb-list"></div>
         <div class="d-flex flex-row align-items-center mt-2">
            <input class="form-check-input mt-2" onchange="onResepCheckChange(this)" type="checkbox" value="" id="flexCheckDefault" />
            <div class="txt-cap mx-2">Nama Resep :</div>
         </div>
         <div class="d-flex flex-row justify-content-start flex-wrap" id="log-r-list"></div>
         <div class="d-flex flex-row justify-content-between">
            <button type="button" onclick="validateResep()" class="btn btn-secondary btn-sm col-5 mt-4">Terapkan</button>
            <button
               type="button"
               onclick="
                     document.getElementById('filter-ctn').classList.remove('d-flex');
                     document.getElementById('filter-ctn').classList.add('d-none');
     
                     assignLogToTable(map_history);
                 "
               class="btn btn-secondary btn-sm mt-4"
            >
               Batal
            </button>
         </div>
      </div>
   </div>

   <!--Steambox check item-->
   <div class="mx-2 my-1 d-none" id="log-sb-item">
      <input class="form-check-input" onchange="" type="checkbox" value="" />
      <label class="form-check-label" for="flexCheckDefault"> Default checkbox </label>
   </div>

   <script>
      $(function () {
         $('input[name="daterange"]').daterangepicker(
            {
               opens: "left",
            },
            function (start, end, label) {
               console.log("A new date selection was made: " + start.format("YYYY-MM-DD") + " to " + end.format("YYYY-MM-DD"));
            }
         );
      });
   </script>
   <div class="txt-cap col-12 text-center mt-4">Keterangan warna :</div>
   <div class="col-12 mt-2 mb-3 d-flex justify-content-center">
      <div class="d-flex flex-row col-6 justify-content-between">
         <div class="d-flex flex-row align-items-center">
            <div class="p-2 bg-danger"></div>
            <div class="mx-2 text-secondary">Durasi proses lebih lama<br />dari standar</div>
         </div>
         <div class="d-flex flex-row align-items-center">
            <div class="p-2 bg-success"></div>
            <div class="mx-2 text-secondary">Durasi proses lebih cepat<br />dari standar</div>
         </div>
         <div class="d-flex flex-row align-items-center">
            <div class="p-2 bg-warning"></div>
            <div class="mx-2 text-secondary">Task<br />Absorted</div>
         </div>
      </div>
   </div>
   <div class="col-12 d-flex flex-row align-items-stretch bg-dark">
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center">Tanggal</div>
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center">Steambox</div>
      <div class="col-2 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center text-center">Nama Resep/<br />Troli</div>
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center text-center">Batch/<br />qty</div>
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center text-center">Waktu Tambahan</div>
      <div class="col-4 d-flex flex-column">
         <div class="fw-bold text-center text-white border-end border-white">Jam Mulai/<br />Durasi</div>
         <div class="d-flex flex-row">
            <div class="col-6 fw-bold text-white text-center border-end border-top border-white">Pemanasan</div>
            <div class="col-6 fw-bold text-white text-center border-end border-top border-white">Pemasakan</div>
         </div>
      </div>
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center">PIC</div>
      <div class="col-1 fw-bold text-white border-end border-white align-items-center d-flex justify-content-center">Keterangan</div>
   </div>
   <div class="d-flex flex-column" id="table-log"></div>
   <div class="col-12 d-flex flex-row align-items-stretch pb-3 pt-3 border-1 border-bottom d-none" id="table-item">
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Tanggal</div>
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Steambox</div>
      <div class="col-2 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Nama Resep/<br />Troli</div>
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Batch/<br />qty</div>
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Waktu Tambahan</div>
      <div class="col-2 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Waktu Tambahan</div>
      <div class="col-2 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Kedgiadtan</div>
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">PIC</div>
      <div class="col-1 fs-6 fw-light align-items-center d-flex justify-content-center text-center">Keterangan</div>
   </div>
</div>

<div class="fw-light text-secondary text-center w-100 mt-4" id="txt-log-none">Belum ada data history</div>
<!--
<input type="text" name="daterange" value="01/01/2018 - 01/15/2018" />

<script>
    $(function () {
        $('input[name="daterange"]').daterangepicker(
            {
                opens: "right",
            },
            function (start, end, label) {
                console.log("A new date selection was made: " + start.format("YYYY-MM-DD") + " to " + end.format("YYYY-MM-DD"));
            }
        );
    });
</script>
-->
<!--
<table class="table table-borderless table-striped mt-3 text-center">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Date</th>
            <th scope="col">Nama Resep</th>
            <th scope="col">Batch/Qty</th>
            <th scope="col">Add Time</th>
            <th scope="col">Start</th>
            <th scope="col">Finish</th>
            <th scope="col">PIC</th>
            <th scope="col">Remark</th>
        </tr>
    </thead>
    <tbody id="tabel-log"></tbody>
</table>
-->

<script type="text/javascript" src="./js/log.js?n=2"></script>
<script type="text/javascript" src="./js/moment.min.js?n=1"></script>
<script type="text/javascript" src="./js/daterangepicker.js?n=1"></script>
<link rel="stylesheet" type="text/css" href="./css/daterangepicker.css?n=1" />
<script></script>
<script type="text/javascript">
   function assignSteamToList(logic) {
      const parent = document.getElementById("log-sb-list");
      parent.innerHTML = "";

      map_steam.forEach(function (element) {
         const nama = "Steambox - " + element["label"];
         const clone = document.getElementById("log-sb-item").cloneNode(true);

         clone.children[1].innerHTML = nama;

         if (logic) {
            clone.children[0].checked = false;
            clone.children[0].removeAttribute("disabled");
         } else {
            clone.children[0].setAttribute("disabled", "disabled");
         }

         clone.classList.remove("d-none");
         clone.classList.add("d-block");

         parent.appendChild(clone);
      });
   }
   assignSteamToList(false);

   function onSteamCheckChange(checkbox) {
      if (checkbox.checked) {
         assignSteamToList(true);
      } else {
         assignSteamToList(false);
      }
   }

   function assignResepsToList(logic) {
      const parent = document.getElementById("log-r-list");
      parent.innerHTML = "";

      map_resep.forEach(function (element) {
         const nama = element["nama"];
         const clone = document.getElementById("log-sb-item").cloneNode(true);

         clone.children[1].innerHTML = nama;

         if (logic) {
            clone.children[0].checked = false;
            clone.children[0].removeAttribute("disabled");
         } else {
            clone.children[0].setAttribute("disabled", "disabled");
         }

         clone.classList.remove("d-none");
         clone.classList.add("d-block");

         parent.appendChild(clone);
      });
   }
   assignResepsToList(false);

   function onResepCheckChange(checkbox) {
      if (checkbox.checked) {
         assignResepsToList(true);
      } else {
         assignResepsToList(false);
      }
   }

   function onDateCheckedChange(checkbox) {
      if (checkbox.checked) {
         document.getElementById("daterange-in").removeAttribute("disabled");
      } else {
         document.getElementById("daterange-in").value = "";
         document.getElementById("daterange-in").setAttribute("disabled", "disabled");
      }
   }

   assignLogToTable(map_history);
   function searchLog() {
      const input = document.getElementById("log-search-input").value.toUpperCase();

      console.log(input);
      var map = [],
         i = 0;

      map_history.forEach((element) => {
         const nama = getTimeStr(true, element["heating_timestamp"]).split(" ")[0];
         const task = getTaskByID(element["task_id"]);
         const nama_resep = getNamaResepByID(task["resep_id"]).toUpperCase();

         if (nama.includes(input) || nama_resep.includes(input)) {
            map.push(element);
         }
      });
      assignLogToTable(map);
   }
</script>
