<div class="col-12 d-flex flex-row">
   <div class="col-8">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
         <h1 class="h2">Preset / Resep</h1>
      </div>
      <div class="input-group input-group-sm">
         <input type="text" class="form-control" onkeydown="searchResep()" placeholder="Search for preset name" id="resep-search-input" />
         <button class="btn btn-outline-secondary" type="button" onclick="enableNew()">New</button>
      </div>

      <div class="my-2 col-12 d-flex flex-row">
         <div class="txt-cap">Setting Standar Pemanasan :</div>
         <div class="col-2 mx-2">
            <div class="input-group input-group-sm">
               <input type="text" class="form-control" onchange="updateHeatSTD()" id="resep-heat-std-in" />
               <div class="input-group-prepend">
                  <span class="input-group-text bg-white">menit</span>
               </div>
            </div>
         </div>
      </div>

      <table class="table table-borderless table-striped mt-3 text-center" id="resep-table">
         <thead>
            <tr>
               <th scope="col">id</th>
               <th scope="col">Nama Resep</th>
               <th scope="col">durasi masak</th>

               <th scope="col">Detail</th>
            </tr>
         </thead>
         <tbody id="resep-table-body"></tbody>
      </table>

      <div class="fw-light text-secondary text-center w-100 mt-4" id="txt-resep-none">Belum ada data resep</div>
   </div>
   <div class="col-4 ms-1">
      <div class="d-flex">
         <div class="col-12 border-start border-bottom pt-5 pb-3 ps-2 d-none" id="resep-detail-parent">
            <div>
               <div class="fs-4 fw-light text-center mb-5 mt-2">Detail Resep</div>
               <div class="d-flex flex-row align-items-center">
                  <div class="txt-cap my-2 me-4 col-5">Nama Resep :</div>
                  <div class="fs-5 fw-light w-100" id="resep-nama">asdasd</div>
               </div>
               <div class="d-flex flex-row align-items-center">
                  <div class="txt-cap my-2 me-4 col-5">Durasi :</div>
                  <div class="fs-5 fw-light w-100" id="resep-durasi">asdasd</div>
               </div>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="txt-cap mb-2">Max QTY berdasar jenis troli</div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-5">Troli Flip:</div>
                     <div class="fs-5 fw-light text-center" id="troli-satu">asdasd</div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-5">Troli Biasa:</div>
                     <div class="fs-5 fw-light text-center" id="troli-dua">asdasd</div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-5">Troli Longgar:</div>
                     <div class="fs-5 fw-light text-center" id="troli-tiga">asdasd</div>
                  </div>
               </div>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="txt-cap mb-2">Standard Cooking Time</div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Minimum :</div>
                     <div class="fs-5 fw-light text-center" id="std-time-min">asdasd</div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Maximum :</div>
                     <div class="fs-5 fw-light text-center" id="std-time-max">asdasd</div>
                  </div>
               </div>
               <div class="d-flex justify-content-between mt-4">
                  <button type="button" class="btn btn-danger mx-2" id="resep-modal-hapus">Hapus</button>
                  <button type="button" class="btn btn-secondary mx-2" id="resep-modal-edit" onclick="$('#modal-edit-resep').modal('show')">Edit</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-edit-resep" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="modal-title fs-4 fw-light col-12 text-center mb-5 mt-2" id="staticBackdropLabel">Tambah Data Resep</div>
            <form class="needs-validation" novalidate>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Nama Resep :</div>
                     <div class="input-group mb-1 has-validation">
                        <input type="text" class="form-control d-none" id="resep-id" placeholder="Kerupuk Jensadggo" value="none" />
                        <input type="text" class="form-control" id="resep-nama-input" placeholder="Kerupuk Jenggo" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="invalid-feedback">Isi nama resep</div>
                     </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Durasi :</div>
                     <div class="input-group my-2" id="resep-durasi-ctn">
                        <input type="number" min="0" class="form-control" id="resep-durasi-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">menit</span>
                        </div>
                        <div class="invalid-feedback">Isi lama durasi (Pastikan anda menginput angka)</div>
                     </div>
                  </div>
               </div>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Qty / Batch :</div>
                     <div class="input-group my-2" id="resep-durasi-ctn">
                        <input type="number" min="0" class="form-control" id="resep-qpb-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">Gld</span>
                        </div>
                        <div class="invalid-feedback">Isi jumlah gelondong per batch (Pastikan anda menginput angka)</div>
                     </div>
                  </div>
               </div>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Max Qty Troli Flip:</div>
                     <div class="input-group my-2 has-validation" id="troli-satu-ctn">
                        <input type="number" min="0" class="form-control" id="troli-satu-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text">Gld</span>
                        </div>
                        <div class="invalid-feedback">Isi banyak gelondong untuk troli satu</div>
                     </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Max Qty Troli Biasa:</div>

                     <div class="input-group my-2 has-validation" id="troli-dua-ctn">
                        <input type="number" min="0" class="form-control" id="troli-dua-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text">Gld</span>
                        </div>
                        <div class="invalid-feedback">Isi banyak gelondong untuk troli dua</div>
                     </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Max Qty Troli Longgar:</div>
                     <div class="input-group my-2 has-validation" id="troli-tiga-ctn">
                        <input type="number" min="0" class="form-control" id="troli-tiga-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text">Gld</span>
                        </div>
                        <div class="invalid-feedback">Isi banyak gelondong untuk troli tiga</div>
                     </div>
                  </div>
               </div>
               <div class="d-flex flex-column justify-content-start mt-4 mb-2">
                  <div class="txt-cap mb-2">Standard Cooking Time</div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Minimum :</div>
                     <div class="input-group my-2 has-validation" id="std-time-min-ctn">
                        <input type="number" min="0" class="form-control" id="std-time-min-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">menit</span>
                        </div>
                        <div class="invalid-feedback">Isi standar waktu masak minimum</div>
                     </div>
                  </div>
                  <div class="d-flex flex-row align-items-center">
                     <div class="txt-cap my-2 me-4 col-3">Maximum :</div>
                     <div class="input-group my-2 has-validation" id="std-time-max-ctn">
                        <input type="number" min="0" class="form-control" min="0" id="std-time-max-input" placeholder="120" aria-label="Username" aria-describedby="addon-wrapping" required />
                        <div class="input-group-prepend">
                           <span class="input-group-text" id="inputGroup-sizing-default">menit</span>
                        </div>
                        <div class="invalid-feedback">Isi standar waktu masak maksimum</div>
                     </div>
                  </div>
               </div>
               <div class="txt-err d-none" id="std-time-err"></div>
               <div class="d-flex flex-row justify-content-between mt-4">
                  <button type="button" class="btn btn-secondary mx-2" id="resep-modal-batal" data-bs-dismiss="modal">Batal</button>
                  <button type="submit" class="btn btn-secondary" onclick="validateResep()">Simpan</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<script>
   $("#pr-pyn-cancel").click(function () {
      $("#modal-pr-pyn").modal("hide");
   });
   $("#pr-pyn-ok").click(function () {
      deleteResep();
   });
   /*
   $("#resep-modal-hapus").click(function () {
      const val = document.getElementById("resep-id").value;
      const nama = getNamaResepByID(val);
      $("#modal-pr-pyn").modal("show");
      $("#pr-pyn-msg").html("Anda akan menghapus resep " + nama);
   });
   */
</script>

<script type="text/javascript" src="./js/resep.js?n=2"></script>
<script type="text/javascript">
   assignResepToTable(map_resep);
   document.getElementById("resep-heat-std-in").value = heating_std;
</script>
<script type="text/javascript">
   function updateHeatSTD() {
      $.ajax({
         type: "POST", //type of method
         url: "http://localhost/backend/postdm.php", //your page
         data: { action_id: 13, durasi: document.getElementById("resep-heat-std-in").value }, // passing the values
         success: function (res) {
            document.getElementById("a-home").click();
         },
      });
   }
</script>
<script type="text/javascript">
   function enableNew() {
      document.getElementById("staticBackdropLabel").innerHTML = "Data Resep Baru";

      document.getElementById("resep-nama-input").classList.remove("d-none");
      document.getElementById("resep-nama-input").classList.add("d-block");
      document.getElementById("resep-nama-input").value = "";

      document.getElementById("resep-durasi-input").value = "";
      document.getElementById("resep-durasi-ctn").classList.remove("d-none");

      document.getElementById("troli-satu-input").value = "";
      document.getElementById("troli-satu-ctn").classList.remove("d-none");
      //document.getElementById("troli-satu-ctn").classList.add("d-block");

      document.getElementById("troli-dua-input").value = "";
      document.getElementById("troli-dua-ctn").classList.remove("d-none");
      //document.getElementById("troli-dua-ctn").classList.add("d-block");

      document.getElementById("troli-tiga-input").value = "";
      document.getElementById("troli-tiga-ctn").classList.remove("d-none");
      //document.getElementById("troli-tiga-ctn").classList.add("d-block");

      document.getElementById("std-time-min-input").value = "";
      document.getElementById("std-time-min-ctn").classList.remove("d-none");

      document.getElementById("std-time-max-input").value = "";
      document.getElementById("std-time-max-ctn").classList.remove("d-none");

      $("#modal-edit-resep").modal("show");
   }
   function searchResep() {
      const input = document.getElementById("resep-search-input").value.toUpperCase();
      var map = [],
         i = 0;

      map_resep.forEach((element) => {
         const nama = element["nama"].toUpperCase();

         if (nama.includes(input)) {
            map.push(element);
         }
      });
      assignResepToTable(map);
   }
</script>
