<div class="col-8">
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Daftar Warna</h1>
   </div>
   <div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="Cari nama warna" aria-label="Recipient's username with two button addons" />
      <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Buat baru</button>
   </div>

   <div class="col-12">
      <table class="table table-borderless table-striped mt-3 text-center">
         <thead>
            <tr>
               <th scope="col">ID</th>
               <th scope="col">Nama Warna</th>
            </tr>
         </thead>
         <tbody id="color-table-body"></tbody>
      </table>
   </div>

   <!-- Modal -->
   <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel">Tambah Nama Warna</h5>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <form class="needs-validation" novalidate>
                  <div class="txt-cap my-2">Nama Warna :</div>
                  <div class="input-group mb-1 has-validation">
                     <input type="text" class="form-control" id="color-nama" placeholder="Merah tua" aria-label="Username" aria-describedby="addon-wrapping" required />
                     <div class="invalid-feedback">Isi nama Warna</div>
                  </div>

                  <div class="d-flex flex-row justify-content-end w-100 mt-4">
                     <button type="button" class="btn btn-secondary mx-2" data-bs-dismiss="modal">Batal</button>
                     <button type="submit" class="btn btn-primary" onclick="validateColor()">Simpan</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
   assignColorToTable();
</script>
