// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../bootstrap-5.1.3/scss/bootstrap.scss";

// Then add additional custom code here
body {
   font-size: 0.875rem;
}

.form-control::placeholder {
   color: $gray-300;
}

.logout {
   background-color: $gray-800;
   color: $gray-300;
}
.logout:hover {
   background-color: $gray-700;
   color: $gray-300;
}

.feather {
   width: 16px;
   height: 16px;
   vertical-align: text-bottom;
}

.sidebar {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 100;
   padding: 48px 0 0;
   box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
   .sidebar {
      top: 5rem;
   }
}

.bg-login {
   background-color: $gray-300;
}
.sidebar-sticky {
   position: relative;
   top: 0;
   height: calc(100vh - 48px);
   padding-top: 0.5rem;
   overflow-x: hidden;
   overflow-y: auto;
}

.sidebar .nav-link {
   font-weight: 500;
   color: #333;
}

.sidebar .nav-link .feather {
   margin-right: 4px;
   color: #727272;
}

.sidebar .nav-link.active {
   color: $gray-200;
   background-color: $gray-900;
}
.sidebar .nav-link.active:hover {
   color: $gray-200;
   background-color: $gray-900;
}

.sidebar .nav-link:hover {
   background-color: $gray-200;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
   color: inherit;
}

.sidebar-heading {
   font-size: 0.75rem;
   text-transform: uppercase;
}

.txt-add {
   color: $green-500;
}

.txt-add:hover {
   color: $green-600;
}

.txt-del {
   color: $red-400;
}

.txt-del:hover {
   color: $red-500;
}

.eye-icon-d {
   width: 25px;
   height: 25px;
   background: url(img/eye-fill.svg) no-repeat top left;
   background-size: contain;
}

.eye-icon-d:hover {
   background: url(img/eye-fill-hovered.svg) no-repeat top left;
   background-size: contain;
}

.eye-icon-select {
   width: 25px;
   height: 25px;
   background: url(img/eye-slash-fill.svg) no-repeat top left;
   background-size: contain;
}

.eye-icon-select:hover {
   background: url(img/eye-slash-hovered.svg) no-repeat top left;
   background-size: contain;
}

.txt-cap {
   font-size: $font-size-sm;
   color: $gray-500;
   margin-top: $spacer * 0.5;
}

.txt-err {
   font-size: $font-size-sm;
   color: $red;
   margin-top: $spacer * 0.5;
}

.txt-temp-val {
   font-size: $font-size-base * 2;
   font-weight: $font-weight-bold;
}

.navbar-brand {
   padding-left: 0.75rem;
   padding-top: $spacer * 0.3;
   padding-bottom: $spacer * 0.3;
   font-size: 1rem;
   //box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .navbar-toggler {
   top: 0.25rem;
   right: 1rem;
}

.navbar .form-control {
   padding: 0.75rem 1rem;
   border-width: 0;
   border-radius: 0;
}

.form-control-dark {
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
   border-color: transparent;
   box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
